body {
    font-family: "Source Sans 3", sans-serif;
    margin: 0;
    max-width: 600px;
    margin: 0 auto;
    background-color: #f5f5f5;
}

header, main {
    background-color: white;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #C6C6C6;
}

.logo {
    width: 120px;
    height: 60px;
    margin: 16px 20px;
}

.profile-img {
    width: 50px;
    height: 50px;
    margin: 16px 15px;
    border-radius: 50%;
}

.content-header {
    display: flex;
    margin: 20px 20px;
}

.post-profile-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.content-header-text {
    margin: 0px 7px;
}


.name {
    font-size: 18px;
    font-weight: bold;
    margin:0;
}

.location {
    font-size: 16px;
    margin: 0;
}


.content-post img {
    width: 100%;
}

.btns {
    padding: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    margin: 15px 15px;
}

.icon {
    width: 50px;
    /* height: 55px; */
    background: none;
}

.like-btn, .comment-btn, .share-btn {
    background: none;
    border: none;
    padding: 0;
}

.likes-count {
    margin: 15px 15px;
    font-size: 18px;
    font-weight: bold;

}

.comments {
    margin: 15px 15px;
    font-size: 18px;
}

.comment-user {
    font-weight: bold;
}

.liked {
    filter: invert(30%) sepia(80%) saturate(5000%) hue-rotate(345deg) brightness(100%) contrast(105%);
}